.slider .indicators{
    position: absolute;
    bottom: 80px;
    z-index: 9;
}

// style paozan
$bContainer: rgb(233, 233, 233);

#container {
    background-color: $bContainer;
    max-width: 80%;
    margin: auto;
    h1 {
        font-size: 30px;
    }

    article h1 {
        font-size: 20px;
    }
}